<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EW.Navigator.SCM.Services.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Nito.Disposables" publicKeyToken="f7f86b9b38b20f8a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Nito.AsyncEx.Tasks" publicKeyToken="f7f86b9b38b20f8a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <EW.Navigator.SCM.Services.Settings>
      <setting name="LocalPath" serializeAs="String">
        <value>repos</value>
      </setting>
      <setting name="RemotePath" serializeAs="String">
        <value>ssh://git@192.168.14.73:22/home/git/repos/ansible.git</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>git</value>
      </setting>
      <setting name="PublicKeyPath" serializeAs="String">
        <value>keys\id_rsa.pub</value>
      </setting>
      <setting name="PrivateKeyPath" serializeAs="String">
        <value>keys\id_rsa</value>
      </setting>
      <setting name="Passphrase" serializeAs="String">
        <value />
      </setting>
      <setting name="CommonSettings" serializeAs="String">
        <value>CommonSettings</value>
      </setting>
      <setting name="MinutesDelay" serializeAs="String">
        <value>1</value>
      </setting>
    </EW.Navigator.SCM.Services.Settings>
  </applicationSettings>
</configuration>