<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EW.Navigator.SCM.GitRepo.Sync.RepoSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EW.Navigator.SCM.GitRepo.Sync.RepoSettings>
            <setting name="GroupVars" serializeAs="String">
                <value>group_vars</value>
            </setting>
            <setting name="HostVars" serializeAs="String">
                <value>host_vars</value>
            </setting>
            <setting name="Hosts" serializeAs="String">
                <value>hosts</value>
            </setting>
            <setting name="AnsibleHostVariable" serializeAs="String">
                <value>ansible_host</value>
            </setting>
            <setting name="IniExtension" serializeAs="String">
                <value>.ini</value>
            </setting>
            <setting name="DefaultUserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DefaultEmail" serializeAs="String">
                <value>root@localhost.localdomain</value>
            </setting>
            <setting name="DefaultCommit" serializeAs="String">
                <value>Updating the app configuration (details: {0})</value>
            </setting>
            <setting name="ServerApplicationName" serializeAs="String">
                <value>ServerApplicationName</value>
            </setting>
            <setting name="ServerTcpPort" serializeAs="String">
                <value>ServerTcpPort</value>
            </setting>
            <setting name="ServerIp" serializeAs="String">
                <value>ServerIp</value>
            </setting>
            <setting name="ServerType" serializeAs="String">
                <value>ServerType</value>
            </setting>
            <setting name="CommonSettings" serializeAs="String">
                <value>CommonSettings</value>
            </setting>
            <setting name="MachineName" serializeAs="String">
                <value>MachineName</value>
            </setting>
            <setting name="RegisteredAppsDb" serializeAs="String">
                <value>db_registered_apps\registered_apps.json</value>
            </setting>
            <setting name="LocalHostVarPath" serializeAs="String">
                <value>localhost.yml</value>
            </setting>
        </EW.Navigator.SCM.GitRepo.Sync.RepoSettings>
    </applicationSettings>
</configuration>