<?xml version="1.0" encoding="utf-8"?>

<behaviors>
  <endpointBehaviors>
    <behavior name="EndPointBehavior" />
  </endpointBehaviors>
  <serviceBehaviors>
    <behavior name="ServiceBehavior">
      <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false"
        includeExceptionDetailInFaults="true" />
      <serviceCredentials>
        <clientCertificate>
          <authentication certificateValidationMode="None" revocationMode="NoCheck" />
        </clientCertificate>
        <serviceCertificate findValue="CN=DeamServer" />
        <userNameAuthentication userNamePasswordValidationMode="MembershipProvider"
          membershipProviderName="SqlMembershipProvider" />
      </serviceCredentials>
      <serviceAuthorization serviceAuthorizationManagerType="EW.Navigator.Servers.DEAM.Security.AuthorizationManagerManager, EW.Navigator.Servers.DEAM.Security">
        <authorizationPolicies>
          <add policyType="EW.Navigator.Servers.DEAM.Security.AuthorizationPolicy, EW.Navigator.Servers.DEAM.Security" />
        </authorizationPolicies>
      </serviceAuthorization>
      <serviceThrottling maxConcurrentCalls="128" maxConcurrentSessions="800"
        maxConcurrentInstances="928" />
    </behavior>
    <behavior name="MexServiceBehavior">
      <serviceDebug httpHelpPageEnabled="true" httpsHelpPageEnabled="false"
        includeExceptionDetailInFaults="false" />
      <serviceMetadata httpGetEnabled="true" />
      <serviceCredentials>
        <clientCertificate>
          <authentication certificateValidationMode="None" revocationMode="NoCheck" />
        </clientCertificate>
        <serviceCertificate findValue="CN=DeamServer" />
        <userNameAuthentication userNamePasswordValidationMode="MembershipProvider"
          membershipProviderName="SqlMembershipProvider" />
      </serviceCredentials>
      <serviceAuthorization serviceAuthorizationManagerType="EW.Navigator.Servers.DEAM.Security.AuthorizationManagerManager, EW.Navigator.Servers.DEAM.Security">
        <authorizationPolicies>
          <add policyType="EW.Navigator.Servers.DEAM.Security.AuthorizationPolicy, EW.Navigator.Servers.DEAM.Security" />
        </authorizationPolicies>
      </serviceAuthorization>
    </behavior>
    <behavior name="DistributionTaskTrackerBehavior">
      <serviceThrottling maxConcurrentCalls="5000" maxConcurrentSessions="5000"
        maxConcurrentInstances="5000" />
    </behavior>
  </serviceBehaviors>
</behaviors>