<?xml version="1.0" encoding="utf-8"?>

<bindings>
  <netNamedPipeBinding>
    <binding name="SipCommunicationBinding" openTimeout="00:10:00"
             closeTimeout="00:10:00"
             sendTimeout="00:10:00"
             receiveTimeout="00:10:00">
    </binding>
  </netNamedPipeBinding>

  <netMsmqBinding>
    <binding name="NetMsmqBinding" durable="false" exactlyOnce="false"
      maxReceivedMessageSize="10553600">
      <security mode="None" />
    </binding>
    <binding name="CallStatNetMsmqBinding" customDeadLetterQueue="./Private/CallStatisticCollectionDeadLetters"
      deadLetterQueue="Custom" exactlyOnce="false">
      <security mode="None" />
    </binding>
    <binding name="WorkflowStatNetMsmqBinding" customDeadLetterQueue="./Private/WorkflowStatisticCollectionDeadLetters"
      deadLetterQueue="Custom" exactlyOnce="false">
      <security mode="None" />
    </binding>
  </netMsmqBinding>
  <netTcpBinding>
    <binding name="TcpWindowsSecBinding" sendTimeout="00:02:00" maxReceivedMessageSize="10553600">
      <readerQuotas maxArrayLength="1024000000" />
      <security mode="Transport" />
    </binding>
    <binding name="SmallTimeoutTcpWindowsSecBinding" closeTimeout="00:00:10"
      openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10"
      maxReceivedMessageSize="10553600" portSharingEnabled="false">
      <readerQuotas maxArrayLength="1024000000" />
      <security mode="Transport" />
    </binding>
    <binding name="BigTimeoutTcpWindowsSecBinding" closeTimeout="00:00:10"
      openTimeout="00:00:20" receiveTimeout="00:00:20" sendTimeout="00:00:20"
      maxReceivedMessageSize="10553600" portSharingEnabled="false">
      <readerQuotas maxArrayLength="1024000000" />
      <security mode="Transport" />
    </binding>
    <binding name="TcpOtherSecBinding" sendTimeout="00:02:00" maxReceivedMessageSize="10553600">
      <readerQuotas maxArrayLength="1024000000" />
      <security mode="TransportWithMessageCredential">
        <transport clientCredentialType="None" />
        <message clientCredentialType="UserName" />
      </security>
    </binding>
    <binding name="TcpNonSecBinding" maxReceivedMessageSize="6553600">
      <readerQuotas maxArrayLength="1024000000" />
      <security mode="None" />
    </binding>
    <binding name="LongTcpWindowsSecBinding" receiveTimeout="02:00:00"
      sendTimeout="02:00:00" maxBufferPoolSize="1524288" maxReceivedMessageSize="20553600">
      <readerQuotas maxArrayLength="1024000000" />
      <security mode="Transport" />
    </binding>
    <binding name="LongTcpOtherSecBinding" receiveTimeout="02:00:00"
      sendTimeout="02:00:00" maxBufferPoolSize="1524288" maxReceivedMessageSize="20553600">
      <readerQuotas maxArrayLength="1024000000" />
      <security mode="TransportWithMessageCredential">
        <transport clientCredentialType="None" />
        <message clientCredentialType="UserName" />
      </security>
    </binding>
    <binding name="LongTcpNonSecBinding" receiveTimeout="02:00:00"
      sendTimeout="02:00:00" maxBufferPoolSize="1524288" maxReceivedMessageSize="20553600">
      <readerQuotas maxArrayLength="1024000000" />
      <security mode="None" />
    </binding>
  </netTcpBinding>
  <wsDualHttpBinding>
    <binding name="DualHttpOtherSecBinding" maxReceivedMessageSize="10553600">
      <security>
        <message clientCredentialType="UserName" />
      </security>
    </binding>
    <binding name="DualHttpWindowsSecBinding" maxReceivedMessageSize="10553600" />
    <binding name="DualLongHttpOtherSecBinding" receiveTimeout="02:00:00"
      sendTimeout="02:00:00" maxBufferPoolSize="1524288" maxReceivedMessageSize="20553600">
      <security>
        <message clientCredentialType="UserName" />
      </security>
    </binding>
    <binding name="DualLongHttpWindowsSecBinding" receiveTimeout="02:00:00"
      sendTimeout="02:00:00" maxBufferPoolSize="1524288" maxReceivedMessageSize="20553600" />
  </wsDualHttpBinding>
  <ws2007HttpBinding>
    <binding name="HttpOtherSecBinding" maxReceivedMessageSize="10553600">
      <readerQuotas maxArrayLength="1024000000" />
      <security>
        <message clientCredentialType="UserName" />
      </security>
    </binding>
    <binding name="HttpWindowsSecBinding" maxReceivedMessageSize="10553600">
      <readerQuotas maxArrayLength="1024000000" />
    </binding>
    <binding name="LongHttpOtherSecBinding" receiveTimeout="02:00:00"
      sendTimeout="02:00:00" transactionFlow="true" maxBufferPoolSize="1524288"
      maxReceivedMessageSize="20553600">
      <readerQuotas maxArrayLength="1024000000" />
      <security>
        <message clientCredentialType="UserName" />
      </security>
    </binding>
    <binding name="LongHttpWindowsSecBinding" receiveTimeout="02:00:00"
      sendTimeout="02:00:00" transactionFlow="true" maxBufferPoolSize="1524288"
      maxReceivedMessageSize="20553600">
      <readerQuotas maxArrayLength="1024000000" />
    </binding>
  </ws2007HttpBinding>
  <netHttpBinding>
    <binding name="DualNetHttpWindowsSecBinding" useDefaultWebProxy="false">
      <security mode="Transport">
        <transport clientCredentialType="Windows" />
        <message clientCredentialType="UserName" />
      </security>
    </binding>
    <binding name="DualNetHttpOtherSecBinding" useDefaultWebProxy="false">
      <security mode="TransportWithMessageCredential">
        <transport clientCredentialType="None" />
        <message clientCredentialType="UserName" />
      </security>
    </binding>
  </netHttpBinding>
  <basicHttpsBinding>
    <binding name="HttpsOtherSecBinding">
      <security mode="TransportWithMessageCredential">
        <transport clientCredentialType="None" />
        <message clientCredentialType="UserName" />
      </security>
    </binding>
  </basicHttpsBinding>
</bindings>