<?xml version="1.0" encoding="utf-8"?>

<client>
  <endpoint address=""
            binding="netTcpBinding"
            bindingConfiguration="TcpNonSecBinding"
            contract="EW.Navigator.Servers.Application.Contracts.IServerApplicationManagementServiceAsync"
            name="CPRServer"
            kind=""
            endpointConfiguration="" />
  <endpoint address="DistributionService"
            binding="netTcpBinding"
            bindingConfiguration="TcpNonSecBinding"
            contract="EW.Navigator.CallService.Distribution.Contract.IDistributionCallServiceAsync"
            name="DistributionService"
            kind=""
            endpointConfiguration="" />
  <endpoint address="CallService"
            binding="netTcpBinding"
            bindingConfiguration="TcpNonSecBinding"
            contract="EW.Navigator.CallServices.WCF.Contract.ICallService"
            name="CallService"
            kind=""
            endpointConfiguration="" />
  <endpoint address="net.msmq://localhost/Private/SecurityAuditStatisticCollection"
            binding="netMsmqBinding"
            bindingConfiguration="NetMsmqBinding"
            contract="EW.Navigator.Servers.Statistic.Contracts.ISecurityAuditStatisticCollectionService"
            name="SecurityAuditStatisticCollection"
            kind=""
            endpointConfiguration="" />
</client>