<?xml version="1.0" encoding="utf-8"?>

<system.diagnostics>
  <sources>
    <source name="Application" switchValue="Warning">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="ConsoleWarning">
          <filter type="" />
        </add>
        <add name="ApplicationListener">
          <filter type="" />
        </add>
      </listeners>
    </source>
    <source name="Diagnostics.Watcher" switchValue="Warning">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="ApplicationListener">
          <filter type="" />
        </add>
        <add name="Console">
          <filter type="" />
        </add>
      </listeners>
    </source>
    <source name="Security" switchValue="Warning">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="SecurityListener">
          <filter type="" />
        </add>
      </listeners>
    </source>
    <source name="DistributionManager" switchValue="Information">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="DistributionListener">
          <filter type="" />
        </add>
        <add name="ErrorLoggingListener">
          <filter type="" />
        </add>
      </listeners>
    </source>
    <source name="DistributionTaskTracker" switchValue="Error">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="DistributionListener">
          <filter type="" />
        </add>
        <add name="ErrorLoggingListener">
          <filter type="" />
        </add>
      </listeners>
    </source>
    <source name="DistributionQueue" switchValue="Error">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="DistributionListener">
          <filter type="" />
        </add>
        <add name="ErrorLoggingListener">
          <filter type="" />
        </add>
      </listeners>
    </source>
    <source name="DistributionWork" switchValue="Error">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="DistributionListener">
          <filter type="" />
        </add>
        <add name="ErrorLoggingListener">
          <filter type="" />
        </add>
      </listeners>
    </source>
    <source name="DistributionSender" switchValue="Error">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="DistributionListener">
          <filter type="" />
        </add>
        <add name="ErrorLoggingListener">
          <filter type="" />
        </add>
      </listeners>
    </source>
    <source name="TaskTrackerItem" switchValue="Error">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="DistributionListener">
          <filter type="" />
        </add>
        <add name="ErrorLoggingListener">
          <filter type="" />
        </add>
      </listeners>
    </source>

    <source name="DBTaskTrackerItem" switchValue="Off">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="DbDistributionListener">
          <filter type="" />
        </add>
      </listeners>
    </source>


    <source name="DistributionEventBuffer" switchValue="Error">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="DistributionListener">
          <filter type="" />
        </add>
        <add name="ErrorLoggingListener">
          <filter type="" />
        </add>
      </listeners>
    </source>
    <source name="CallDispatcher" switchValue="Warning">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="CallDispatcherLoggingListener">
          <filter type="" />
        </add>
      </listeners>
    </source>
    <source name="ProjectService" switchValue="Information">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="ApplicationListener">
          <filter type="" />
        </add>
      </listeners>
    </source>
    <source propagateActivity="false" name="System.ServiceModel"
      switchValue="Error">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="ServiceModelTraceListener">
          <filter type="" />
        </add>
      </listeners>
    </source>
    <source name="System.ServiceModel.MessageLogging" switchValue="Error">
      <listeners>
        <add type="System.Diagnostics.DefaultTraceListener" name="Default">
          <filter type="" />
        </add>
        <add name="ServiceModelMessageLoggingListener">
          <filter type="" />
        </add>
      </listeners>
    </source>
  </sources>
  <sharedListeners>
    <add type="EastWind.Diagnostics.ConsoleTraceListener,EastWind"
      name="Console">
      <filter type="" />
    </add>
    <add type="EastWind.Diagnostics.ConsoleTraceListener,EastWind"
      name="ConsoleError">
      <filter type="System.Diagnostics.EventTypeFilter" initializeData="Critical,Error" />
    </add>
    <add type="EastWind.Diagnostics.ConsoleTraceListener,EastWind"
      name="ConsoleWarning">
      <filter type="System.Diagnostics.EventTypeFilter" initializeData="Critical,Error,Warning" />
    </add>
    <add path="{app_domain_base_dir}/logs" message="{newline}{date_time} |{ticks}| [{thread_id}] {Source,-18}{EventType,-12}{Message}"
      file="application.{date}.log" type="EastWind.Diagnostics.DailyFileTraceListener,EastWind"
      name="ApplicationListener">
      <filter type="" />
    </add>
    <add path="{app_domain_base_dir}/logs" message="{newline}{date_time} |{ticks}| [{thread_id}] {Source,-18}{EventType,-12}{Message}"
      file="security.{date}.log" type="EastWind.Diagnostics.DailyFileTraceListener,EastWind"
      name="SecurityListener">
      <filter type="" />
    </add>
    <add path="{app_domain_base_dir}/logs" message="{newline}{date_time} |{ticks}| [{thread_id}] {Source,-18}{EventType,-12}{Message}"
      file="distribution.{date}.log" type="EastWind.Diagnostics.DailyFileTraceListener,EastWind"
      name="DistributionListener">
      <filter type="" />
    </add>
    <add path="{app_domain_base_dir}/logs" message="{newline}{date_time} |{ticks}| [{thread_id}] {Source,-18}{EventType,-12}{Message}"
      file="db_distribution.{date}.log" type="EastWind.Diagnostics.DailyFileTraceListener,EastWind"
      name="DbDistributionListener">
      <filter type="" />
    </add>



    <add path="{app_domain_base_dir}/logs" message="{newline}{date_time} |{ticks}| [{thread_id}] {Source,-18}{EventType,-12}{Message}"
      file="CallDispatcher.{date}.log" type="EastWind.Diagnostics.DailyFileTraceListener,EastWind"
      name="CallDispatcherLoggingListener">
      <filter type="" />
    </add>
    <add path="{app_domain_base_dir}/logs" file="app_tracelog.{date}.svclog"
      type="EastWind.Diagnostics.DailyXmlFileTraceListener,EastWind"
      name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
      <filter type="" />
    </add>
    <add path="{app_domain_base_dir}/logs" file="app_messages.{date}.svclog"
      type="EastWind.Diagnostics.DailyXmlFileTraceListener,EastWind"
      name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
      <filter type="" />
    </add>
    <add path="{app_domain_base_dir}/logs" message="{newline}{date_time} |{ticks}| [{thread_id}] {Source,-18}{EventType,-12}{Message}"
      file="Erros.{date}.log" type="EastWind.Diagnostics.DailyFileTraceListener,EastWind"
      name="ErrorLoggingListener">
      <filter type="System.Diagnostics.EventTypeFilter" initializeData="Critical,Error" />
    </add>
  </sharedListeners>
  <trace autoflush="true" />
  <switches>
    <add name="ConnectionPoolPerformanceCounterDetail" value="4"/>
    <add name="DistributionTaskTrackerDbSwitch" value="1"/>
    <add name="DbDistributionManagerSwitch" value="1"/>
  </switches>
</system.diagnostics>