<?xml version="1.0" encoding="utf-8"?>
<services>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.EntryPointService">
    <endpoint address="EntryPointService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IEntryPointService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="EntryPointService"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IEntryPointService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="EntryPointService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IEntryPointService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="EntryPointService"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IEntryPointService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="EntryPointManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IEntryPointManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="EntryPointManager"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IEntryPointManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="EntryPointManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IEntryPointManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="EntryPointManager"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IEntryPointManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.EntryPointFrameProvider">
    <endpoint address="EntryPointFrameProvider/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IEntryPointFrameProviderAsAsync">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="EntryPointFrameProvider"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IEntryPointFrameProviderAsAsync">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="EntryPointFrameProvider/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IEntryPointFrameProviderAsAsync">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="EntryPointFrameProvider"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IEntryPointFrameProviderAsAsync">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.CategoryManager">
    <endpoint address="CategoryService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.ICategoryService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="CategoryService"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.ICategoryService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="CategoryService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.ICategoryService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="CategoryService"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.ICategoryService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="CategoryManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.ICategoryManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="CategoryManager"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.ICategoryManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="CategoryManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.ICategoryManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="CategoryManager"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.ICategoryManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.ProjectService">
    <endpoint address="ProjectService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IProjectService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ProjectService"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IProjectService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ProjectService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IProjectService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ProjectService"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IProjectService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ProjectManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IProjectManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ProjectManager"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IProjectManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ProjectManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IProjectManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ProjectManager"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IProjectManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.RevisionStatusTransitionService">
    <endpoint address="RevisionStatusTransitionService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IRevisionStatusTransitionService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="RevisionStatusTransitionService"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IRevisionStatusTransitionService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="RevisionStatusTransitionService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IRevisionStatusTransitionService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="RevisionStatusTransitionService"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IRevisionStatusTransitionService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.ServiceCallNumberService">
    <endpoint address="ServiceCallNumberService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IServiceCallNumberService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ServiceCallNumberService"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IServiceCallNumberService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ServiceCallNumberService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IServiceCallNumberService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ServiceCallNumberService"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IServiceCallNumberService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ServiceCallNumberManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IServiceCallNumberManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ServiceCallNumberManager"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IServiceCallNumberManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ServiceCallNumberManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IServiceCallNumberManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ServiceCallNumberManager"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IServiceCallNumberManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.ApplicationManager">
    <endpoint address="ApplicationService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IApplicationService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ApplicationService"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IApplicationService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ApplicationService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IApplicationService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="ApplicationService"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IApplicationService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.ApplicationPingService">
    <endpoint address="ApplicationPingService"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="BigTimeoutTcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IApplicationPingService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.PingService">
    <endpoint address="PingService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IPingService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="PingService"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IPingService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="PingService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IPingService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="PingService"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IPingService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.CallDispatcher">
    <endpoint address="CallDispatcher/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.ICallDispatcher">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="CallDispatcher"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.ICallDispatcher">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="CallDispatcher"
              behaviorConfiguration="EndPointBehavior"
              binding="wsDualHttpBinding"
              bindingConfiguration="DualHttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.ICallDispatcher">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="CallDispatcher/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="wsDualHttpBinding"
              bindingConfiguration="DualHttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.ICallDispatcher">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Security.SecurityManager">
    <endpoint address="AuthorizationManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Security.Contracts.IAuthorizationManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="AuthorizationManager"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Security.Contracts.IAuthorizationManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="AuthorizationManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Security.Contracts.IAuthorizationManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="AuthorizationManager"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Security.Contracts.IAuthorizationManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="UserService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Security.Contracts.IUserService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="UserService"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Security.Contracts.IUserService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="UserService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Security.Contracts.IUserService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="UserService"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Security.Contracts.IUserService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.UserActivityTracker">
    <endpoint address="UserActivityMonitor/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IUserActivityMonitor">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="UserActivityMonitor"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IUserActivityMonitor">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="UserActivityMonitor/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IUserActivityMonitor">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="UserActivityMonitor"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IUserActivityMonitor">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.Distribution.DistributionTaskPatternManager">
    <endpoint address="DistributionTaskPatternManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionTaskPatternManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionTaskPatternManager"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionTaskPatternManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionTaskPatternManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionTaskPatternManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionTaskPatternManager"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionTaskPatternManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.Distribution.DistributionPayloadItemLoader">
    <endpoint address="DistributionPayloadItemLoader/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionPayloadItemLoader">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionPayloadItemLoader"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionPayloadItemLoader">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionPayloadItemLoader/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionPayloadItemLoader">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionPayloadItemLoader"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionPayloadItemLoader">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.Distribution.DistributionPayloadItemPatternLoader">
    <endpoint address="DistributionPayloadItemPatternLoader/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionPayloadItemPatternLoader">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionPayloadItemPatternLoader"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionPayloadItemPatternLoader">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionPayloadItemPatternLoader/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionPayloadItemPatternLoader">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionPayloadItemPatternLoader"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionPayloadItemPatternLoader">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.Distribution.DistributionManager">
    <endpoint address="DistributionManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionManager"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionManager"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.Distribution.DistributionEventManager">
    <endpoint address="DistributionEventService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionEventService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionEventService"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionEventService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionEventService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionEventService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionEventService"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionEventService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionEventManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionEventManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionEventManager"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionEventManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionEventManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionEventManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionEventManager"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionEventManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="MexServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.Distribution.DistributionEventPublishService">
    <endpoint address="DistributionEventPublishService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionEventPublishService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionEventPublishService"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionEventPublishService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionEventPublishService/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionEventPublishService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="DistributionEventPublishService"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionEventPublishService">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="net.msmq://localhost/Private/EventPublish"
            binding="netMsmqBinding"
            bindingConfiguration="NetMsmqBinding"
            contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionBufferingEventPublishOneWayService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>

  </service>
  <service behaviorConfiguration="DistributionTaskTrackerBehavior"
           name="EW.Navigator.Servers.DEAM.Services.Distribution.DistributionTaskTracker">
    <endpoint address="net.msmq://localhost/Private/DistributionTracker"
              binding="netMsmqBinding"
              bindingConfiguration="NetMsmqBinding"
              contract="EW.Navigator.Servers.DEAM.Contracts.IDistributionTracker">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior"
           name="EW.Navigator.Servers.DEAM.Services.StorageServiceManager">
    <endpoint address="StorageServiceManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IStorageServiceManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="StorageServiceManager"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IStorageServiceManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="StorageServiceManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IStorageServiceManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="StorageServiceManager"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Servers.DEAM.Contracts.IStorageServiceManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <!-- TagManager -->
  <service name="EW.Navigator.Services.Tags.Services.Deam.TagManager"
           behaviorConfiguration="ServiceBehavior">
    <endpoint address="TagManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Services.Tags.Contracts.ITagManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="TagManager"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="TcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Services.Tags.Contracts.ITagManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="TagManager/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Services.Tags.Contracts.ITagManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="TagManager"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="HttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Services.Tags.Contracts.ITagManager">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
  <!-- TagMappingUploader -->
  <service name="EW.Navigator.Services.Tags.Services.Deam.TagMappingUploader"
           behaviorConfiguration="ServiceBehavior">
    <endpoint address="TagMappingUploader/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpOtherSecBinding"
              name="tcpOtherSec"
              contract="EW.Navigator.Services.Tags.Contracts.ITagMappingUploader">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="TagMappingUploader"
              behaviorConfiguration="EndPointBehavior"
              binding="netTcpBinding"
              bindingConfiguration="LongTcpWindowsSecBinding"
              name="tcpWindowSec"
              contract="EW.Navigator.Services.Tags.Contracts.ITagMappingUploader">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="TagMappingUploader/Other"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpOtherSecBinding"
              name="httpOtherSec"
              contract="EW.Navigator.Services.Tags.Contracts.ITagMappingUploader">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
    <endpoint address="TagMappingUploader"
              behaviorConfiguration="EndPointBehavior"
              binding="ws2007HttpBinding"
              bindingConfiguration="LongHttpWindowsSecBinding"
              name="httpWindowsSec"
              contract="EW.Navigator.Services.Tags.Contracts.ITagMappingUploader">
      <identity>
        <dns value="DeamServer" />
      </identity>
    </endpoint>
  </service>
</services>