<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net461" />
  <package id="Eastwind.Package" version="1.6.1" targetFramework="net461" />
  <package id="EastWind.Settings.Package" version="1.5.1" targetFramework="net461" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net461" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="6.0.1304.0" targetFramework="net461" />
  <package id="EnterpriseLibrary.ExceptionHandling.WCF" version="6.0.1304.0" targetFramework="net461" />
  <package id="EnterpriseLibrary.Validation" version="6.0.1304.0" targetFramework="net461" />
  <package id="EW.Navigator.Contracts.Package" version="3.0.6" targetFramework="net461" />
  <package id="EW.Navigator.DEAM.Module.Package" version="3.0.6" targetFramework="net461" />
  <package id="EW.Navigator.Servers.Application.Interface.Package" version="3.0.6" targetFramework="net461" />
  <package id="EW.Navigator.Servers.Common.Package" version="3.0.6" targetFramework="net461" />
  <package id="EW.Navigator.Servers.DEAM.Contracts.Package" version="3.0.6" targetFramework="net461" />
  <package id="EW.Navigator.WcfService.Common.Package" version="3.0.6" targetFramework="net461" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.9.0" targetFramework="net461" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net461" />
  <package id="Unity.Interception" version="3.5.1404.0" targetFramework="net461" />
</packages>